<html>
<head>
</head>
<body>
<header>
  <div class="tablinkFlex">
    <a class="tablink" routerLink="/shop" id="defaultOpen">Магазин</a>
    <a class="tablink" routerLink="/category">Категории товаров</a>
    <a class="tablink" routerLink="/product">Продукты</a>
    <a class="tablink" routerLink="/receipt">Чеки</a>
    <a class="tablink" routerLink="/statistic">Статистика</a>
  </div>
</header>


<div class="main">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <a href="https://vk.com/id2610763" class="link-semohka">Semohka &reg;</a>
</footer>
</body>
</html>
