<html>
<head>
</head>
<body>
<header>
  <div id="Shops" class="tabcontent">
  </div>

  <div id="Categories" class="tabcontent">
  </div>

  <div id="Product" class="tabcontent">
  </div>

  <div id="Receipt" class="tabcontent">
  </div>

  <div id="Statistic" class="tabcontent">
  </div>

  <button class="tablink" (click)="openTitle()" id="defaultOpen">Магазины</button>
  <button class="tablink" (click)="openTitle()">Категории товаров</button>
  <button class="tablink" (click)="openTitle()">Продукты</button>
  <button class="tablink" (click)="openTitle()">Чеки</button>
  <button class="tablink" (click)="openTitle()">Статистика</button>
</header>


<div class="main">
  <app-shop-list></app-shop-list>
</div>

<footer class="footer">
  <a href="https://vk.com/id2610763" class="link-semohka">Semohka</a>
</footer>
</body>
</html>
