<div class="row">
  <div class="text-center my-3 lead">Категории</div>
  <div class="col-md-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingTitle" placeholder=""
             #newShop
             (keyup.enter)="addShop(newShop.value); newShop.value = ''">
      <label for="floatingTitle">Название</label>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-outline-success"
              (click)="addShop(newShop.value);
            newShop.value = ''"><i class="bi bi-check2"></i>
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <table class="table table-hover">
      <tbody>
      <tr *ngFor="let shop of shops; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td colspan="2">
          @if(editable){
          <input
            [value]="shop.name"
            #editedShop
            (keyup.enter)="saveShop(editedShop.value, shop)">
          }@else{
          <span>{{shop.name}}</span>
          }
        </td>
        <td>
          <button type="button" class="btn btn-outline-secondary" (click)="edit()"><i class="bi bi-pencil-square"></i>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-outline-danger" (click)="remove(shop)"><i class="bi bi-x-square"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
